{sub_dirs, ["apps/browserquest_srv", "rel"]}.

{erl_opts, [debug_info, warn_shadow_vars, warn_obsolete_guard,
            warn_unused_import
           ]}.

{deps, [
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {ref, "0ffde50991502ed222005376a66791debc4b991c"}}}
       ]}.

{cover_print_enabled, true}.
{cover_enabled, true}.
